<div id="HomePageBanner">
  <div class="container" style="position: relative; height:100%">
    <br class="noSelect">
    <app-book-online></app-book-online>
    <div id="homePageBannerHeadings" [ngStyle]="{'display': homePageBannerHeadings}">
      <br class="noSelect">
      <br class="noSelect">
      <br class="noSelect">
      <br class="noSelect">
      <br class="noSelect">
      <br class="noSelect">
      <br class="noSelect hideOnMobile">
      <br class="noSelect hideOnMobile">
      <br class="noSelect hideOnMobile">
      <br class="noSelect hideOnMobile">
      <h1 id="homePageMainHeading">Safe, reliable transfers for the successful traveler who wants to arrive calm, on time and in discrete luxury.</h1>
    </div>
  </div>
</div>

<div style="background-color: var(--white)">
  <div class="container" id="ourServices" style="text-align: center">

    <h1 id="ourServicesHeading">WHAT WE CAN DO FOR YOU</h1>

    <div class="row" >
      <div class="col-lg">
        <mat-card>
          <p id="servicesIconParagraph">
            <mat-icon id="servicesIcons"  class="noSelect">airplanemode_active</mat-icon>
          </p>
          <h3 id="servicesHeadings">Airport Transfers</h3>
          <p id="servicesText">
            We will collect or drop you off at any public airport in Gauteng including OR Tambo, Lanseria and Wonderboom. 
          </p>
          <button mat-button id="servicesCallToActionButton">Book now</button>
        </mat-card>
      </div>
      <div class="col-lg">
        <mat-card>
          <p id="servicesIconParagraph">
            <mat-icon id="servicesIcons" class="noSelect">location_on</mat-icon>
          </p>
          <h3 id="servicesHeadings">Point to Point Transfers</h3>
          <p id="servicesText">
            We will collect you from any location and drop you off anywhere else. We charge a minimum fair as very short trips are not our business.  
          </p>
          <button mat-button id="servicesCallToActionButton">Book now</button>
        </mat-card>
      </div>
    </div>

    <br id="onlyDesktopBreak">

    <div class="row">
      <div class="col-lg">
        <mat-card>
          <p id="servicesIconParagraph">
            <mat-icon id="servicesIcons"  class="noSelect">work</mat-icon>
          </p>
          <h3 id="servicesHeadings">Chauffeur Services</h3>
          <p id="servicesText">
            A chauffeur will drive you around for the day. To your meetings, lunch dates and any other places you need to go.
          </p>
          <button mat-button id="servicesCallToActionButton">Request Chauffeur</button>
        </mat-card>
      </div>
      <div class="col-lg">
        <mat-card>
          <p id="servicesIconParagraph">
            <mat-icon id="servicesIcons"  class="noSelect">golf_course</mat-icon>
          </p>
          <h3 id="servicesHeadings">Special Events</h3>
          <p id="servicesText">
            We will organise the transfers for any event such as sporting tournaments, conferences and any other type of gathering. 
          </p>
          <button mat-button id="servicesCallToActionButton">Request event</button>
        </mat-card>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>

<div class="blueGradient" style="padding-left: 10px; padding-right:10px;">
  <div class="container">
    <br class="noSelect">


    <h1 id="proudFeaturesHeading">THE SOVRIN PROMISE TO YOU</h1>

    <br class="noSelect">

    <div class="row" >
      <div class="col-lg">
        <div class="media">
          <mat-icon class="align-self-center mr-3 noSelect" id="proudFeaturesIcons">security</mat-icon>
          <div class="media-body">
            <h3 id="featuresHeadings">Safety</h3>
            <p id="featuresDetails">
              Our cars are extremely safe, all with 5 star safety ratings. They are equipped with run flat tyres and our drivers are highly experienced and trained in defensive driving techniques. 
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="media">
          <fa class="align-self-center mr-3" id="proudFeaturesIcons" name="diamond" style="font-size: 58px; position: relative; bottom: 8px;"></fa>
          <div class="media-body">
            <h3 id="featuresHeadings">Luxury</h3>
            <p id="featuresDetails">
              With Sovrin you can rest assured that your trip will be luxurious and quiet thanks to our beautiful BMW 5 series vehicles.  
            </p>
          </div>
        </div>
      </div>
    </div>

    <br id="onlyDesktopBreak">

    <div class="row">
      <div class="col-lg">
        <div class="media">
          <mat-icon class="align-self-center mr-3 noSelect" id="proudFeaturesIcons">shopping_basket</mat-icon>
          <div class="media-body">
            <h3 id="featuresHeadings">Affordability</h3>
            <p id="featuresDetails">
              We strive to provide a business class service at an economy class price without compromise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="media">
          <mat-icon class="align-self-center mr-3 noSelect" id="proudFeaturesIcons">tag_faces</mat-icon>
          <div class="media-body">
            <h3 id="featuresHeadings">Be Spoilt</h3>
            <p id="featuresDetails">
              With Sovrin, you are put first. We are here to make your experience as pleasant as possible.
            </p>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <br class="noSelect">
  <br class="noSelect">
  <br class="noSelect">
  <br class="noSelect">
</div>


<div id="testimonialsDiv">
  <div class="container" style="text-align: center">
    <h1 id="testimonialsHeading">TESTIMONIALS</h1>
    <h1 id="testimonials">{{ currentTestimonial }}</h1>
  </div>
  <br>
  <br>
  <br>
</div>



