<div style="text-align: right">
  <button mat-icon-button color="primary">
    <mat-icon>close</mat-icon>
  </button>
</div>

<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="max-width: 460px;">
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>

<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
<p>{{selectedTransfer.details}}</p>
v
