<div style="background-color: var(--white)" class="container">
        <br class="noSelect hideOnMobile">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <br class="noSelect hideOnMobile">
          <br class="noSelect hideOnMobile">
          <br class="noSelect">  
          <h4>STREET ADDRESS</h4>
          <p>
            SOVRIN Building, <br class="noSelect">
            RIVERSIDE OFFICE PARK,<br class="noSelect">
            1303 Heuwel Road Centurion, Gauteng
          </p>    
          <br class="noSelect hideOnMobile">
          <br class="noSelect">
          <h4>CONTACT LINKS</h4>
          WhatsApp
          <a href="https://api.whatsapp.com/send?phone=27726039900" target="_blank"> Message</a>
          <br>
          Facebook
          <a href="http://m.me/sovrintransfers" target="_blank"> Message</a>
          <br class="noSelect hideOnMobile">
          <br class="noSelect">
          <br class="noSelect">
          <br class="noSelect">
          <h4>TELEPHONE</h4>
          <fa name="facebook-messenger"> </fa>
          Call Centre: 
          <a href="tel:+27 72 603 9900">+27 72 603 9900</a> <br>
          <br class="noSelect hideOnMobile">
          <br class="noSelect">
          <br class="noSelect">
          <h4>DROP US A MESSAGE</h4>
          <p>Submit your message and we’ll get back to you asap.</p>
    
          <form class="ContactUsForm">
            <div class="form-group left-inner-addon">
                    <mat-icon>person</mat-icon>
                <input class="form-control" placeholder="First Name" type="text">
            </div>
            <div class="form-group left-inner-addon">
                    <mat-icon>mail</mat-icon>
                <input class="form-control" placeholder="Email" type="text">
            </div>
            <div class="form-group">
                <textarea placeholder="Message" class="form-control" rows="5"></textarea>
            </div>
            <div id="submitButton">
                <button mat-raised-button><strong>Send</strong></button>
            </div>
          </form>
          <br class="noSelect hideOnMobile">
          <br class="noSelect">
          <br class="noSelect">
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">  
          <br class="noSelect hideOnMobile">
          <br class="noSelect hideOnMobile">
          <br class="noSelect hideOnMobile">
          <h4 style="text-align: center">OUR OPERATIONS CENTRE</h4>
          <br class="noSelect">
          <p style="text-align: center">
            Situated perfectly in Centurion to service both Pretoria and Johannesburg.
          </p>
          <br class="noSelect">
          <mat-card style="padding: 0px">
              <app-contact-us-map></app-contact-us-map>
          </mat-card>
          <br class="noSelect">
          <mat-card style="padding: 0px">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1533235437513!6m8!1m7!1sDfDA8vd-hAE64OnuJeGMpg!2m2!1d-25.86089253498074!2d28.1903624303999!3f64.10064713012956!4f-3.833824561118874!5f0.7820865974627469" frameborder="0" style="border:0" allowfullscreen></iframe>
          </mat-card>
          <br class="noSelect">
          <br class="noSelect">
        </div>
      </div>
    </div>
    



          