.fullWidth {
    width: 100%;
}
a {
    color: var(--sovrinBlue); 
}
a:hover {
    color: #0d0531; 
}

::ng-deep mat-tab-header.mat-tab-header.mat-tab-header-pagination-controls-enabled {
    display: none;
}

::ng-deep mat-tab-header.mat-tab-header {
    display: none;
}

::ng-deep div.mat-tab-body-content {
    overflow: hidden !important;
}

#selectDropdown {
    max-width: 120px !important;
}

#selectDropdownOptions {
    max-width: 120px !important;
}

#mobileNumberInput {
    max-width: 100%;
    width: calc(100% - 122px);
    margin-left: 2px;
}

@media only screen and (max-width: 576px) {
    #selectDropdown {
        max-width: 120px !important;
    }
    #selectDropdownOptions {
        max-width: 120px !important;
    }
}

.inputIcons {
    position: relative;
    top: 6px;
    color: var(--grey)
}

.buttonDiv {
    padding: 3px;
}

@media only screen and (max-width: 407px) {
    #divForDesktop {
        display: none;
    }
}
@media only screen and (min-width: 407px) {
    #divForMobile {
        display: none;
    }
}