<h5 style="color: var(--grey)">
  Personal Details
</h5>

<br class="noSelect">
 <br class="noSelect">

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>

 <br class="noSelect">
 <br class="noSelect">
 <br class="noSelect">
 <br class="noSelect">
 <br class="noSelect">


<h5 style="color: var(--grey)">
  Favourite Addresses
</h5>


<br class="noSelect">
<br class="noSelect">
<br class="noSelect">
<br class="noSelect">
<br class="noSelect">

<h5 style="color: var(--grey)">
  Saved Preferences 
</h5>


<br class="noSelect">
<br class="noSelect">
<br class="noSelect">
<br class="noSelect">
<br class="noSelect">
