<h5 style="color: var(--grey)">
  Personal Details
</h5>

  <mat-form-field class="maxWidthInputs">
    <input matInput placeholder="First Name" value=""  [formControl]="firstNameFormControl">
  </mat-form-field>
  <br class="noSelect">
  <mat-form-field class="maxWidthInputs">
    <input matInput placeholder="Last Name" value=""  [formControl]="lastNameFormControl">
  </mat-form-field>
  <br class="noSelect">
  <mat-form-field id="selectDropdown">
    <mat-select id="selectDropdownOptions" placeholder="Country Code" [(ngModel)]="selectedCode" name="first">
      <mat-option *ngFor="let country of countryArray" [value]="country.code">
        {{country.country}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput style="padding-left:3px" placeholder="Mobile Number" [value]="selectedCode" [(ngModel)]="userMobileNumber" name="second">
  </mat-form-field>
  <br class="noSelect">

  <mat-form-field class="maxWidthInputs">
      <span matPrefix> <mat-icon class="inputIcons">mail</mat-icon> &nbsp;</span>
      <input matInput placeholder="Email Address" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

 <br class="noSelect">
 <br class="noSelect">
 <br class="noSelect">


<h5 style="color: var(--grey)">
  Favourite Addresses
</h5>

  <mat-form-field class="maxWidthInputs">
    <span matPrefix> <mat-icon class="inputIcons">location_on</mat-icon> &nbsp;</span>
    <input matInput [placeholder]="'Address ' + favouriteAddresses[0].counter" [(ngModel)]="firstAddressInput">
  </mat-form-field>
  <br class="noSelect">
  <mat-form-field class="maxWidthInputs" *ngIf="isSecondAddress"> 
    <span matPrefix> <mat-icon class="inputIcons">location_on</mat-icon> &nbsp;</span>
    <input matInput [placeholder]="'Address ' + favouriteAddresses[1].counter" [(ngModel)]="secondAddressInput">
  </mat-form-field>
  <mat-form-field class="maxWidthInputs" *ngIf="!isSecondAddress" [ngStyle]="{'display': displaySecondAddressInput}">
    <span matPrefix> <mat-icon class="inputIcons">location_on</mat-icon> &nbsp;</span>
    <input matInput placeholder="New Address" [(ngModel)]="secondAddressInput">    
  </mat-form-field>

<br class="noSelect">

<button mat-raised-button *ngIf="displayAdditionalBut" (click)="additionalAddressClick()"><mat-icon class="buttonIcons">add</mat-icon>Additional address</button>

<br class="noSelect">
<br class="noSelect">
<br class="noSelect">

<button mat-raised-button color="primary" (click)="saveButtonClick()">Update</button>