<div id="entireBookingForm">
    <div *ngIf="initialDivDisplay">
        <mat-card class="hideOnMobile">
            <form>
                <div class="row">
                    <div class="col-lg-5 col-md-4 form-group" style="padding-right:0px">
                        <mat-form-field class="fullWidthAddressInputs">
                            <mat-icon class="matPrefixIcon" matPrefix>location_on</mat-icon>
                            <input matInput placeholder="Pickup address" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  id="search" [disabled]="addressInputsReadOnly">
                        </mat-form-field>
                   </div>
                   <div class="col-lg-5 col-md-4" style="padding-left:5px">
                        <mat-form-field class="fullWidthAddressInputs">
                            <mat-icon class="matPrefixIcon" matPrefix>location_on</mat-icon>
                            <input matInput placeholder="Dropoff address"  type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  id="search2" [disabled]="addressInputsReadOnly">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2 col-md-4" style="padding-left:0px">
                        <button type="button" class="fullWidthAddressInputs" *ngIf="calculateButton" (click)="calculateFareClickDesktop()" mat-raised-button color="primary">Calculate Fare</button>
                        <app-mat-spinner *ngIf="matSpinnerDisplay"></app-mat-spinner>
                        <button type="button" class="fullWidthAddressInputs pulse-button" *ngIf="continueToBook" (click)="continueToBookClick()" mat-raised-button>Continue to Book</button>
                        <h4 *ngIf="fareLabel" style="color: var(--sovrinBlue); text-align: center; margin-top:5px; margin-bottom:10px; position: relative; top: 10px;">Fare: R{{ fareBasedOnDistance }}</h4>
                    </div>
                </div>
                <app-map-route *ngIf="displayType === 'desktop' && mapRouteDisplay" [end]="trip_end" [start]="trip_start"></app-map-route>
                <button *ngIf="clearAddressesButton" style="margin-top: 10px" (click)="cleanInitialStep()" mat-button color="warn">Reset addresses</button>
            </form>
        </mat-card>

        <mat-card class="hideOnDesktop">
            <form>
                <div class="row align-items-end">
                    <div class="col-md-8 col-sm-8 col-7" style="padding-right:0px">
                        <mat-form-field class="fullWidthAddressInputs" style="margin-bottom:3px">
                            <mat-icon class="matPrefixIcon" matPrefix>location_on</mat-icon>
                            <input matInput placeholder="Pickup address"  type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  id="search3" [disabled]="addressInputsReadOnly">
                        </mat-form-field>
                        <br class="noSelect">
                        <mat-form-field class="fullWidthAddressInputs">
                            <mat-icon class="matPrefixIcon" matPrefix>location_on</mat-icon>
                            <input matInput placeholder="Dropoff address"  type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  id="search4" [disabled]="addressInputsReadOnly">
                        </mat-form-field>
                   </div>
                    <div class="col-md-4 col-sm-4 col-5" style="padding-left:15px">
                        <h4 id="fareHeadingMoile" *ngIf="fareLabel" style="color: var(--sovrinBlue); text-align: center; margin-top:0px; margin-bottom:10px;">Fare: R{{ fareBasedOnDistance }}</h4>
                        <button type="button" id="initialButtonsMobile" class="fullWidthAddressInputs"  *ngIf="calculateButton" (click)="calculateFareClickMobile()" mat-raised-button color="primary">Calculate Fare</button>
                        <app-mat-spinner *ngIf="matSpinnerDisplay"></app-mat-spinner>
                        <button type="button" id="initialButtonsMobile" class="fullWidthAddressInputs" style="background-color: var(--yellow); font-size: 16px; font-weight: 600" *ngIf="continueToBook" (click)="continueToBookClick()" mat-raised-button>Continue</button>
                    </div>
                </div>
              <app-map-route *ngIf="displayType === 'mobile' && mapRouteDisplay" [end]="trip_end" [start]="trip_start"></app-map-route>
                <button *ngIf="clearAddressesButton" style="margin-top: 10px;" (click)="cleanInitialStep()" mat-button color="warn">Reset addresses</button>
            </form>
        </mat-card>
    </div>

    <mat-card [@slideInOut]="stepperOpen" *ngIf="stepperDiv" id="matCardBookingSteps">
        <mat-horizontal-stepper  [linear]="true" #stepper  style="background-color:#fafbfc00">
                <mat-step [stepControl]="firstFormGroup"> <!--First Step-->
                    <form [formGroup]="firstFormGroup">
                        <div id="stepperContent">
                            <h5 id="stepHeading">Fill in your transfers details</h5>
                            <br class="lineBreakHide">
                            <mat-form-field class="fullWidth">
                                <input matInput [min]="minDate" readonly="readonly" [matDatepicker]="picker" placeholder="Date of Transfer" [formControl]="dateFormControl">
                                <mat-hint>*Click the calender icon</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker touchUi color="primary"></mat-datepicker>
                            </mat-form-field>
                            <br class="noSelect">
                            <div class="row align-items-center">
                                <div class="col-6" style="padding-right: 0px">
                                   <p style="margin: 0px">Pickup Time:</p>
                                   <p style="margin: 0px; font-size: 11px">Use 24hr format</p>
                                   <mat-error *ngIf="showTimeError()">
                                    Fill out time
                                    </mat-error>
                                </div>
                                <div class="col-6" style="padding-left: 0px">
                                    <ngb-timepicker [minuteStep]="minuteStep" [formControl]="timeFormControl"></ngb-timepicker>
                                </div>
                            </div>
                            <br class="lineBreakHide">
                            <mat-form-field class="fullWidth" style="margin-top: -20px;">
                                <input matInput type="number" max="4" min="1" placeholder="No. Passengers" [formControl]="passengerNumberFormControl">
                                <mat-hint>Max of 4</mat-hint>
                            </mat-form-field>
                            <br class="noSelect">
                            <br class="noSelect">
                            <br class="lineBreakHide">
                            <mat-checkbox color="primary" [(ngModel)]="babySeat" [ngModelOptions]="{standalone: true}">Baby Seat &nbsp;&nbsp;</mat-checkbox>
                            <mat-checkbox color="primary" [(ngModel)]="trailer" [ngModelOptions]="{standalone: true}">Trailer</mat-checkbox>
                            <br class="lineBreakHide">
                            <br class="lineBreakHide">
                        </div>
                        <div id="stepperNavigationButtonsDiv">
                            <div style="float: left"><button mat-raised-button (click)="backToInitialStep()" color="warn">Change Addresses</button></div>
                            <div style="text-align: right"><button (click)="stepOneSubmit()" mat-raised-button matStepperNext color="primary">Next Step</button></div>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup"> <!--Second Step-->
                    <form [formGroup]="secondFormGroup">
                        <div id="stepperContent">
                            <h5 id="stepHeading">Fill in your personal details</h5>
                            <br class="lineBreakHide">
                            <div class="row">
                                <div class="col-6" style="padding-right:2px;">
                                    <mat-form-field class="fullWidth">
                                        <input matInput placeholder="First Name" formControlName="firstNameCtrl">
                                    </mat-form-field>
                                </div>
                                <div class="col-6 " style="padding-left:2px;">
                                    <mat-form-field class="fullWidth">
                                        <input matInput placeholder="Last Name" formControlName="lastNameCtrl">
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-form-field id="selectDropdown">
                                <mat-select id="selectDropdownOptions" placeholder="Country Code" [formControl]="countryCodeFormControl">
                                  <mat-option *ngFor="let country of countryArray" [value]="country.ISO">
                                    {{country.Name}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field id="mobileNumberInput" class="fullWidth">
                                <mat-icon matPrefix class="matPrefixIcon">phone</mat-icon>
                                <input matInput style="padding-left:3px" placeholder=" &nbsp; Mobile Number" [formControl]="mobileNumberFormControl">
                                <mat-error *ngIf="mobileNumberFormControl.hasError('pattern')">
                                    Please enter a valid mobile number
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="fullWidth">
                                <input matInput placeholder="Email" type="email" [formControl]="emailFormControl">
                                <mat-error *ngIf="emailFormControl.hasError('pattern')">
                                    Please enter a valid email address
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder="Payment Method" formControlName="paymentMethodCtrl">
                                  <mat-option *ngFor="let payment of paymentMethods" [value]="payment">
                                    {{payment}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <br class="noSelect">
                        <div id="stepperNavigationButtonsDiv">
                            <div style="float: left"><button mat-raised-button matStepperPrevious>Back</button></div>
                            <div style="text-align: right"><button mat-raised-button matStepperNext color="primary" (click)="stepTwoSubmit()">Transfer Summary</button></div>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup"> <!--Third Step-->
                    <form [formGroup]="thirdFormGroup">
                        <div style="margin-left: 15px; margin-right: 15px;">
                            <h5 style="text-align: center;">Your Transfer Summary</h5>
                            <br class="lineBreakHide noSelect">
                            <p class="stepThreeParagraphs"><mat-icon style="color: #7a797b; position: relative; top: 6px; right: 4px;">location_on</mat-icon> {{pickupAddress}}</p>
                            <p class="stepThreeParagraphs"><mat-icon style="position: relative; top: 5px; right: 4px;">location_on</mat-icon> {{dropoffAddress}}</p>
                            <p class="stepThreeParagraphs"><strong>Date:</strong> {{date}}</p>
                            <p class="stepThreeParagraphs"><strong>Time:</strong> {{time}} </p>
                            <p class="stepThreeParagraphs"><strong>Number of Passengers:</strong> {{passengers}}</p>
                            <p class="stepThreeParagraphs"><strong>Baby Seat: </strong> <i *ngIf="babySeat">Yes</i><i *ngIf="!babySeat">No</i>&nbsp;&nbsp; <strong>Trailer: </strong> <i *ngIf="trailer">Yes</i><i *ngIf="!trailer">No</i></p>
                            <br class="lineBreakHide noSelect">
                            <h5 style="margin-bottom: 8px"><strong>Fare:</strong> R{{transferFair}}</h5>
                        </div>
                        <div id="stepperNavigationButtonsDiv">
                            <div style="float: left"><button mat-raised-button matStepperPrevious>Back</button></div>
                            <div style="text-align: right"><button mat-raised-button (click)="confirmBookingClick()" color="primary">Make Payment</button></div>
                        </div>
                    </form>
                </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>
