<div id="outerHeader" class="noSelect">
  <nav id="header" class="navbar navbar-expand-lg navbar-dark">
    <button mat-icon-button class="navbar-toggler" id="menuButton" type="button" data-toggle="collapse" data-target="#collapsibleContent" aria-controls="collapsibleContent" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon id="menuIcon">keyboard_arrow_down</mat-icon>
    </button>
  
    <div class="collapse navbar-collapse" id="collapsibleContent">
      <div class="container" id="collapsibleContentShifter">
        <ul id="faqSectionsList">
            <h3>FAQ Sections</h3>
          <p id="faqSectionsParagraph">
            
          </p>
          <p id="faqSectionsParagraph">
            <li class="nav-item" routerLinkActive="active" (click)="pageChange('Our Vehicles')">
              <a class="nav-link">Our vehicles</a>
            </li>
          </p>
          <p id="faqSectionsParagraph">
            <li class="nav-item" routerLinkActive="active" (click)="pageChange('Our Drivers')">
              <a class="nav-link">Our drivers</a>
            </li>
          </p>
          <p id="faqSectionsParagraph">
            <li class="nav-item" routerLinkActive="active" (click)="pageChange('Booking Process')">
              <a class="nav-link">Our booking process</a>
            </li>
          </p>
          <p id="faqSectionsParagraph">
             <li class="nav-item" routerLinkActive="active" (click)="pageChange('Payment Options')">
              <a class="nav-link">Our payment options</a>
            </li>
          </p>
          <p id="faqSectionsParagraph">
             <li class="nav-item" routerLinkActive="active" (click)="pageChange('Operating  Areas')">
              <a class="nav-link">Our operating  areas</a>
            </li>
          </p>
          <p id="faqSectionsParagraph">
             <li class="nav-item" routerLinkActive="active" (click)="pageChange('Operating Procedures')">
              <a class="nav-link">Our operating procedures</a>
            </li>
          </p>
          <p id="faqSectionsParagraph">
             <li class="nav-item" routerLinkActive="active" (click)="pageChange('Be Spoilt Promise')">
              <a class="nav-link">Be Spoilt Promise</a>
            </li>
          </p>
          <p id="faqSectionsParagraph">
             <li class="nav-item" routerLinkActive="active" (click)="pageChange('Sovrin Safety')">
              <a class="nav-link">Sovrin Safety</a>
            </li>
          </p>
        </ul>
      </div>
    </div>
  </nav>
  <!--sdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsvdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsd -->
  <nav id="headerMobile">
      <button mat-icon-button (click)="FAQMenuOpen()" style="height: 55px; width: 55px; position: relative; bottom: 3px; left: 5px;">
          <mat-icon id="menuIcon" style="color: var(--grey); font-size: 28px;">{{FAQMenuIcon}}</mat-icon>
      </button>
      <label for="" style="margin-left: 40px; margin-bottom:0px; font-size: 26px; line-height: 55px; color: var(--white)">FAQ Sections</label> 
        <div>
          <div id="FAQMenu" [ngStyle]="{'display': displayMenu == 'block' ? 'block' : 'none' }">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" (click)="pageChange('Our Vehicles')">
                <a class="nav-link">Our vehicles</a>
              </li>
              <li class="nav-item" (click)="pageChange('Our Drivers')">
                <a class="nav-link">Our drivers</a>
              </li>
              <li class="nav-item" (click)="pageChange('Booking Process')">
                <a class="nav-link">Our booking process</a>
              </li>
               <li class="nav-item" (click)="pageChange('Payment Options')">
                <a class="nav-link">Our payment options</a>
              </li>
               <li class="nav-item" (click)="pageChange('Operating  Areas')">
                <a class="nav-link">Our operating  areas</a>
              </li>
               <li class="nav-item" (click)="pageChange('Operating Procedures')">
                <a class="nav-link">Our operating proced</a>
              </li>
               <li class="nav-item" (click)="pageChange('Be Spoilt Promise')">
                <a class="nav-link">Be Spoilt Promise</a>
              </li>
               <li class="nav-item" (click)="pageChange('Sovrin Safety')">
                <a class="nav-link">Sovrin Safety</a>
              </li>
            </ul>
            <br>
          </div>
        </div>
  </nav>
</div>

<br class="noSelect">
<br class="noSelect">

  <div class="row" id="questionExpansions">
    <div class="col">

      <h1 id="pageHeadings">{{currentPage}}</h1>
      <br class="noSelect">
      *Click on a question to see the answer.
      <br class="noSelect">
      <br class="noSelect">

      <div class="accordion">
        <div class="card-header noSelect" data-toggle="collapse" [attr.data-target]="'#collapse' + FAQc.number" *ngFor="let FAQc of FAQ | async">
          {{FAQc.question}}
          <div class="collapse" id="{{ 'collapse' + FAQc.number }}">
            <div class="card-body">
              {{FAQc.answer}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br class="noSelect">
  <br class="noSelect">
  <br class="noSelect">
  <br class="noSelect">


  