@media only screen and (max-width: 992px) {
    #header {
        background-color: var(--white);
    }
    #questionExpansions {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media only screen and (min-width: 992px) {
    #questionExpansions {
        margin-left: 300px;
        margin-right: 15px;
    }
    #header {
        background-color: var(--white);
        float: left;
        max-width: 300px;
        height: calc(100vh - 20px);
        position: fixed;
        display: block;
        border-right: solid;
        padding-top: 30px;
        border-right-color: var(--grey);
    }
    #outerHeader {
        position: relative;
    }
}
#faqSectionsList {
    list-style-type: none;
    padding: 2px;
}
#faqSectionsParagraph {
    margin-bottom: 0.5rem;
}
#collapsibleContent {
    float: top;
    position: relative;
}
a {
    color: var(--grey);
}
#menuIcon {
    color: black;
}
#menuButton:focus {
   outline: 0;
}
mat-expansion-panel-header {
    height: auto !important;
    min-height: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
}

mat-expansion-panel-header#mat-expansion-panel-header-0.mat-expansion-panel-header.ng-tns-c8-1.ng-trigger.ng-trigger-expansionHeight.ng-star-inserted.mat-expanded {
    min-height: 64px;
    height: auto !important;
}
