/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
    --sovrinBlue: #150a46;
    --yellow: 	#cbb44b;
    --white: #fafbfc;
    --grey: #474448;
    --subBlue: #016fb9;
    --offWhite: #f9f9f9;
}
