/* You can add global styles to this file, and also import other style files */
:root {
    --sovrinBlue: #150a46;
    --yellow: 	#cbb44b;
    --white: #fafbfc;
    --grey: #474448;
    --subBlue: #016fb9;
    --offWhite: #f9f9f9;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

@media only screen and (max-width: 992px) {
    .hideOnMobile {
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    .hideOnDesktop {
        display: none;
    }
}

.blueGradient {
    background-image: linear-gradient(#150a46, #190C55);
    box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}