#header {
    box-shadow: 0 8px 16px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: var(--sovrinBlue);
    border-radius: 2px;
    z-index: 1;
}

@media only screen and (max-width: 992px) {
    #collapsibleContent {
      display: none!important;
    }
    .navbar-brand {
        position: relative;
        right: 2px;
        margin-right: 0px;
    }
    #myAccountMobileButton {
        position: relative;
        color: var(--yellow);
        margin-left: 15px;
    }
    #myAccountMobileButton:focus {
        outline:0;
    }
    #myAccountMobileIcon {
        position: relative;
        line-height: 30px;
        font-size: 30px;
        height: 30px;
        width: 30px;
    }
    #menuIcon {
        line-height: 30px;
        font-size: 30px;
        height: 30px;
        width: 30px;
        color: #FFF8F0;
    }
    nav#header.navbar.navbar-expand-lg.navbar-dark {
        padding: 0px;
    }
    #collapsibleContentMobile {
        padding-left: 12px;
    }
}

@media only screen and (min-width: 992px) {
    #collapsibleContentMobile {
      display: none!important;
    }
    #myAccountMobileIcon {
        display: none;
    }
    li {
        margin-left: 12px;
        margin-right: 12px;
    }
    #collapsibleContentShifter {
        position: relative;
        top: 6px;
    }
    #myAccountMobileIcon:focus {
        outline:0;
    }
    #bookTransferButton:focus {
        outline: 0;
    }
    #myAccountMobileButton {
        display: none;
    }
    .navbar-brand {
        margin-left: 20px;
    }
}

nav#header.navbar.navbar-expand-lg.navbar-dark {
    padding-top: 0px;
    padding-bottom: 0px;
}

#bookTransferButton {
    background-color: var(--yellow);
    color: var(--sovrinBlue);
    border-radius: 19px;
}

button.navbar-toggler {
    border: none;
    margin-right: 15px;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 248, 240, 0.712);
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #FFF8F0;
}