#header {
    box-shadow: 0 8px 16px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: #150a46;
    border-radius: 2px;
}

@media only screen and (max-width: 992px) {
    #collapsibleContent {
      display: none!important;

    }
}

@media only screen and (min-width: 992px) {
    #collapsibleContentMobile {
      display: none!important;
    }
}