<div class="blueGradient">
    <br class="hideOnDesktop noSelect">
    <br class="hideOnDesktop noSelect">
  <div class="container">

    <br class="noSelect hideOnMobile">
    <br class="noSelect hideOnMobile">

    <div class="row align-items-center" >
      <div class="col-lg-6">
        <img id="imageNextToText" src="\assets\images\happy-travler.jpg" style="width: 100%;">
      </div>
      <div class="col-lg-6">
        <h2 id="headingNextToImage">
          "Sovrin was formed on the basis of providing safe, reliable airport transfers for the successful traveler who wants to 
          arrive calm, on time and in discrete luxury."
        </h2>
      </div>
    </div>

    <br class="noSelect">
    <br class="noSelect">

  </div>
</div>

<div style="background-color: var(--white)">
  <div class="container">
      <br class="noSelect">
      <h3 id="theParagaphHeading">THE SOVRIN STORY</h3>
    <p style="color: var(--grey)">
      this is a simple paragraph that is meant to be nice and easy to type which is why there will be mommas no periods or any 
      capital letters so i guess this means that it cannot really be considered a paragraph but just a series of run on sentences 
      this should help you get faster at typing as im trying not to use too many difficult words in it although i think that i
       might start making it hard by including some more difficult letters I'm typing pretty quickly so forgive me for any mistakes 
       i think that i will not just tell you a story about the time i went to the zoo and found a monkey and a fox playing together 
       they were so cute and i think that they were not supposed to be in the same cage but theythis is a simple paragraph that is 
       meant to be nice and easy to type which is why there will be mommas no periods or any capital letters so i guess this means 
       <br class="noSelect"><br class="noSelect">
       that it cannot really be considered a paragraph but just a series of run on sentences this should help you get faster at typing 
       as im trying not to use too many difficult words in it although i think that i might start making it hard by including some more 
       difficult letters I'm typing pretty quickly so forgive me for any mistakes i think that i will not just tell you a story about 
       the time i went to the zoo and found a monkey and a fox playing together they were so cute and i think that they were not supposed 
       to be in the same cage but theythis is a simple paragraph that is meant to be nice and easy to type which is why there will be
        mommas no periods or any capital letters so i guess this means that it cannot really be considered a paragraph but just a series 
        of run on sentences this should help you get faster at typing as im trying not to use too many difficult words in it although i 
        think that i might start making it hard by including some more difficult letters I'm typing pretty quickly so forgive me for any
        mistakes i think that i will not just tell you a story about the time i went to the zoo and found a monkey and a fox playing together 
        <br class="noSelect"><br class="noSelect">
        they were so cute and i think that they were not supposed to be in the same cage but theythis is a simple paragraph that is meant to 
        be nice and easy to type which is why there will be mommas no periods or any capital letters so i guess this means that it cannot really 
        be considered a paragraph but just a series of run on sentences this should help you get faster at typing as im trying not to use too 
        many difficult words in it although i think that i might start making it hard by including some more difficult letters I'm typing pretty 
        quickly so forgive me for any mistakes i think that i will not just tell you a story about the time i went to the zoo and found a monkey 
    </p>
    <br class="noSelect">
    <br class="noSelect">
  </div>
</div>

<div class="blueGradient">
  <div class="container">
    <h3 id="whoAreWeHeading">WHO ARE WE</h3>

    <div class="row">
      <div id="staffCols" class="col-6 col-md-3">
        <img class="staffImages" src="\assets\images\rob.jpg">
        <p id="staffMemberName">Robert Louw</p>
        <p id="staffPosition">Chief Executive Officer (CEO)</p>
      </div>
      <div id="staffCols" class="col-6 col-md-3">
        <img class="staffImages" src="\assets\images\brendon.jpg">
        <p id="staffMemberName">Brendon Gass</p>
        <p id="staffPosition">Chief Finacial Officer (CFO)</p>
      </div>
      <div id="staffCols" class="col-6 col-md-3">
        <img class="staffImages" src="\assets\images\tim.jpg">
        <p id="staffMemberName">Timothy Louw</p>
        <p id="staffPosition">Head of IT and Operations</p>
      </div>
      <div id="staffCols" class="col-6 col-md-3">
        <img class="staffImages" src="\assets\images\sec.jpg">
        <p id="staffMemberName">Stacy Adams</p>
        <p id="staffPosition">Secretary</p>
      </div>
    </div>

    <br class="noSelect">
    <br class="noSelect">

  </div>
</div>

<div style="background-color: var(--white)">
  <div class="container" style="text-align: center">
    <h2 id="videoHeading">OUR CEO TELLS OUR STORY</h2>
    <div class="video-container">
    <iframe
      width="800"
      height="450"
      src="https://www.youtube.com/embed/l_hviuDDxpY?rel=0&amp;showinfo=0" 
      frameborder="0" 
      allow="autoplay; encrypted-media" 
      allowfullscreen>
    </iframe>
  </div>
    <br class="noSelect">
    <br class="noSelect">  
  </div>
</div>
